<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <ul>
    {% for good in goods %}
      <li class="js-good">{{ good.title }} - {{ good.coast }}руб.</li>
    {% endfor %}
  </ul>

  <button onclick="getMoreGoods" class="js-get-more-goods">Загрузить еще товары</button>
</body>

<script>
  function getMoreGoods() {
    const count = document.querySelectorAll('.js-good').length

    const ajax = fetch('/api/get-more-goods', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify({offset: count})
    })
  }
</script>
</html>